.body {
    width: 800px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
}

.title {
    font-size: 3rem;
    margin-bottom: 50px;
    margin-top: 20px;
}

.description {
    font-size: 1rem;
    margin-bottom: 20px;
}

.link {
    color:#fca311;
    font-weight: bold;
    font-size: 1.2rem;
}

.githublink {
    color: #023e8a;
    font-weight: bold;
    font-size: 1.2rem;
}


.imageContainer {
    display: block; 
    width: 900px;
    position: relative;
    transition: ease-in-out 0.2s;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image {
    border-radius: 7px;
}

.techs {
    margin-top: 40px;
}

@media (hover: hover) and (pointer: fine) {
    .imageContainer:hover {
        transform: scale(1.04);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

.backtop {
    color: #fca311;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 60px;
    font-size: 2rem;
    text-decoration: underline;
    background-color: black;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .imageContainer {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .body {
        width: 90%;
    }
}