.card {
    width: 800px;
    height: 400px;
    margin: auto;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px;
    height: 100%;
}

.imageContainer {
    display:flex;
    height: 100%;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    overflow: hidden;
}

.image {
    position: relative;
    margin-top: 5%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    flex: 1;
}

.techs {
    width: 100%;
    margin-top: 40px;
}

.year {
    font-size: 1.4rem;
}

.title {
    font-size: 2.0rem;
}

.description {
    flex: 3;
    font-size: 1rem;
    padding-top: 30px;
}

.link {
    height: 100%;
}

@media screen and (max-width: 750px) {
    .card {
        height: 800px;
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .container {

        flex-direction: column;
    }

    .imageContainer {
        max-width: none;
        max-height: none;
    }

    .image {
        margin-left: 50px;
        height: 750px;
        min-width: 1000px;
        max-height: none;
        max-width: none;
        border-radius: 5px;
        overflow: hidden;
    }
}