html,
body {
  padding: 0;
  margin: 0;
  font-family: "apercu-mono";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "apercu-mono";
  src: url("/fonts/apercuMono.ttf");
  font-style: normal;
  font-display: swap;
}