.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 1.5rem;
  margin: 10px;
}

.subtitle {
  margin: 10px;
  font-size: .8rem;
}

.links {
  margin-top: 20px;
  color: #fca311;
  text-align: center;
  text-decoration: underline;
}

.link {
  cursor: pointer;
  margin: 10px;
}