.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 1.5rem;
  margin: 10px;
}

.subtitle {
  margin: 10px;
  font-size: .8rem;
}

.links {
  margin-top: 20px;
  color: #fca311;
  text-align: center;
  text-decoration: underline;
}

.link {
  cursor: pointer;
  margin: 10px;
}

.aboutme {
  font-size: 1.5rem;
  margin-top: 100px;
  padding-bottom: 60px;
  margin: 100px auto auto auto;
  width: 98%;
  border-bottom: 1px solid rgb(216, 215, 215);
}

.aboutmetext {
  width: 800px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .aboutmetext {
    width: 90%;
  }
}